* {
  margin: 0;
  padding: 0;
  direction: ltr;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 12pt;
}

.btn {
  background-color: #f4f4f4;
  color: #444444;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-weight: bold;
  font-size: 7pt;
}

.btn:hover {
  background-color: #f5f5f5;
  color: #222222;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 1px 1px #ddd;
}
.btn-blue {
  background-color: #48f;
  color: #fff;
  padding: 5px 15px;
  font-weight: bold;
  font-family: 10pt;
  border: 1px solid #59f;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10pt;
}
.btn-blue:hover {
  background-color: #6af;
  color: #fff;
  border: 1px solid #59f;
  box-shadow: 0px 1px 1px #ddd;
}
.link-gray {
  color: #666;
  cursor: pointer;
  font-size: 9pt;
  margin: 0px 10px;
  text-decoration: underline;
}

.link-gray:hover {
  color: #333;
  text-decoration: underline;
}

input {
  border: 1px solid #ddd;
  font-size: 9pt;
  padding: 4px 6px;
}

input:hover {
  border: 1px solid #ccc;
}

input:focus {
  border: 1px solid #aaf;
}

.float-right {
  float: right;
  clear: both;
}

#content {
  padding: 10px;
}
#header-wrapper {
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  height: 35px;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
}
#header-top-left {
  position: absolute;
  margin-top: 10px;
  left: 20px;
}

.profile-image {
  border-radius: 100px;

  margin-right: 5px;
}
